@import '../variables.scss';

@media (max-width: 480px) {
  .h-cont {
    height: 80vh;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    background: 
      linear-gradient(135deg, $primary-color 50%, transparent 40%),
      linear-gradient(315deg, $secondary-color 50%, transparent 60%);
    position: relative;
    overflow: hidden;
    
    .start {
      height: 6rem;
      display: grid;
      place-content: center;
      font-size: 2rem;
      color: black;
      z-index: 2;
    }
    .info {
      height: 6rem;
      display: grid;
      place-content: center;
      font-size: 1.8rem;
      color: black;
      z-index: 2;
    }
    .mus {
      height: 6rem;
      display: grid;
      place-content: center;
      font-size: 1.5rem;
      color: black;
      z-index: 2;
    }
    .cat3{
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: 80%;
        top: 10%;
        transform: translate(-50%, -50%); 
        z-index: 1;
        background-color: red;
        background-image: url(../pics/caa.gif);
        background-size: cover;
        background-position: center;
        border-radius: 32px;
    }
    .cat2{
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: 20%; 
        top: 30%; 
        transform: translate(-50%, -50%); 
        z-index: 1;
        background-color: red;
        background-image: url(../pics/cute.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 100px;
        animation: rotate 4s infinite;
        @keyframes rotate {
            from {
              transform: translate(-50%, -50%) rotate(0deg);
            }
            to {
              transform: translate(-50%, -50%) rotate(360deg); 
            }
          }
    }
    .cat {
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 50%; 
      top: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 1;
      background-color: red;
      background-image: url(../pics/sample.jpeg);
      background-size: cover;
      background-position: center;
      border-radius: 20px;
      animation: bounce 10s infinite; 
    }

    @keyframes bounce {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }
      25% {
        transform: translate(-50%, -50%) scale(1.2);
      }
      50% {
        transform: translate(calc(100vw + 5rem), -50%) scale(1);
      }
      75% {
        transform: translate(-50%, calc(100vh + 5rem)) scale(1.2);
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}