@import '../variables.scss';
@media (max-width: 480px) {
    dialog{
        position: absolute;
        gap: 8px;
        top: 50%;
        bottom: 50%;
        height: 50%;
        width: 60%;
        animation: 1.5s loading 1 forwards;
        border: solid .4rem black;
        border-radius: 12px;
        background-color: rgb(231, 171, 233);
        overflow: auto;
        z-index: 3;
        @keyframes loading {
            from{
                transform: translateY(-200px);
            }
            70%{
                transform: translateY(20px);
            }
            to{
                transform: translateY(0px);
            }
        }
        .x{
            display: flex;
            justify-content: end;
            height: 10%;
            span{
                background-image: url('../../components/icons/c.svg');
                background-position: center;
                background-repeat: no-repeat;
                width: 8%;
            }
        }
        .num{
            color: black;
            font-weight: bolder;
        }
        .sum{
            margin-top: 0px;
        }
        p{
            color: black;
            font-family: 'Roboto Slab';
            margin-bottom: 2rem;
        }
    }
}
@media (max-width: 768px) {
    dialog{
        position: absolute;
        gap: 8px;
        top: 50%;
        bottom: 50%;
        height: 50%;
        width: 60%;
        animation: 1.5s loading 1 forwards;
        border: solid .4rem black;
        border-radius: 12px;
        background-color: rgb(231, 171, 233);
        overflow: auto;
        z-index: 3;
        @keyframes loading {
            from{
                transform: translateY(-200px);
            }
            70%{
                transform: translateY(20px);
            }
            to{
                transform: translateY(0px);
            }
        }
        .x{
            display: flex;
            justify-content: end;
            height: 10%;
            span{
                background-image: url('../../components/icons/c.svg');
                background-position: center;
                background-repeat: no-repeat;
                width: 8%;
            }
        }
        .num{
            color: black;
            font-weight: bolder;
        }
        .sum{
            margin-top: 0px;
        }
        p{
            color: black;
            font-family: 'Roboto Slab';
            margin-bottom: 2rem;
        }
    }
}
@media  (max-width: 1283px){
    dialog{
        position: absolute;
        gap: 8px;
        top: 50%;
        bottom: 50%;
        height: 50%;
        width: 30%;
        animation: 1.5s loading 1 forwards;
        border: solid .4rem black;
        border-radius: 12px;
        background-color: rgb(231, 171, 233);
        overflow: auto;
        z-index: 3;
        @keyframes loading {
            from{
                transform: translateY(-200px);
            }
            70%{
                transform: translateY(20px);
            }
            to{
                transform: translateY(0px);
            }
        }
        .x{
            display: flex;
            justify-content: end;
            height: 10%;
            span{
                background-image: url('../../components/icons/c.svg');
                background-position: center;
                background-repeat: no-repeat;
                width: 8%;
            }
        }
        .num{
            color: black;
            font-weight: bolder;
        }
        .sum{
            margin-top: 0px;
        }
        p{
            color: black;
            font-family: 'Roboto Slab';
            margin-bottom: 2rem;
        }
    }
}
@media (min-width: 1284px) {
    dialog{
        position: absolute;
        gap: 8px;
        top: 50%;
        bottom: 50%;
        height: 50%;
        width: 25%;
        animation: 1.5s loading 1 forwards;
        border: solid .4rem black;
        border-radius: 12px;
        background-color: rgb(231, 171, 233);
        overflow: auto;
        z-index: 3;
        @keyframes loading {
            from{
                transform: translateY(-200px);
            }
            70%{
                transform: translateY(20px);
            }
            to{
                transform: translateY(0px);
            }
        }
        .x{
            display: flex;
            justify-content: end;
            height: 10%;
            span{
                background-image: url('../../components/icons/c.svg');
                background-position: center;
                background-repeat: no-repeat;
                width: 8%;
            }
        }
        .num{
            color: black;
            font-weight: bolder;
        }
        .sum{
            margin-top: 0px;
        }
        p{
            color: black;
            font-family: 'Roboto Slab';
            margin-bottom: 2rem;
        }
    }
}